.flex{
  display: flex;
}
.justify-center{
justify-content: center;
}
.justify-end{
  justify-content: end;
}
.justify-start{
  justify-content: start;
}
.items-center{
  align-items: center;
}
.items-start{
  align-items: flex-start;
}
.items-end{
  align-items:flex-end;
}
.justify-between{
  justify-content: space-between;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}